// # COLORS
$color-primary: #150e28;
$color-secondary: #903aff;
$color-tertiary: #d434fe;

$color-grey-light-1: #f2f2f2;
$color-grey-light-2: #f7f7f7;
$color-grey-light-3: #eee;

$color-grey-dark-1: #999;
$color-grey-dark-2: #777;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// # FONT
$default-font-size: 1.6rem;
