.btn {
  &:link,
  &:visited {
    background-image: linear-gradient(
      to right,
      $color-tertiary,
      $color-secondary-accent
    );
    color: $color-white;
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
    border-radius: 3px;
  }

  &:hover,
  &:active {
    background-image: linear-gradient(
      to right,
      $color-secondary-accent,
      $color-tertiary
    );
    transition: all 0.2s;
  }

  &--big {
    padding: 1.5rem 4.2rem;
    font-size: 1.8rem;
  }

  &--small {
    font-size: 1.6rem;
    // padding: 1rem 2rem;
    padding: 1.5rem 3rem;

    @include respond(tab-port) {
      font-size: 1.8rem;
    }
  }
}

.btn.active {
  &:link,
  &:visited {
    border: 3px solid transparent;
    background-image: linear-gradient($color-primary, $color-primary),
      linear-gradient(to right, $color-secondary-accent, $color-tertiary);
    background-origin: border-box;
    background-clip: padding-box, border-box;
  }

  &:hover,
  &:active {
    background-image: linear-gradient(
      to right,
      $color-secondary-accent,
      $color-tertiary
    );
    background-clip: border-box;
    transition: all 0.2s;
  }
}
