.btn {
  &:link,
  &:visited {
    padding: 1.5rem 4.2rem;
    font-size: 1.8rem;

    // background-color: $color-secondary;
    background-image: linear-gradient(
      to right,
      $color-tertiary,
      $color-secondary
    );
    color: $color-white;
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
    border-radius: 3px;
  }

  &:hover,
  &:active {
    background-color: $color-tertiary;
  }

  &--big {
    font-size: 1.8rem;
    padding: 1.6rem 3.2rem;
  }

  &--small {
    font-size: 1.4rem;
    padding: 0.8rem 1.2rem;
  }
}
