.btn {
  &:link,
  &:visited {
    background-image: linear-gradient(
      to right,
      $color-tertiary,
      $color-secondary-accent
    );
    color: $color-white;
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
    border-radius: 3px;
  }

  &:hover,
  &:active {
    background-color: $color-tertiary;
  }

  &--big {
    padding: 1.5rem 4.2rem;
    font-size: 1.8rem;
  }

  &--small {
    font-size: 1.6rem;
    // padding: 1rem 2rem;
    padding: 1.5rem 3rem;
  }
}
