.info {
  display: flex;
  flex-direction: column;
  justify-content: center;

  // background-color: orange;

  @include respond(tab-port-md) {
    text-align: center;
    width: 80%;
  }

  @include respond(phone) {
    width: 100%;
  }

  .heading--secondary {
    span {
      color: $color-secondary;
    }
  }

  // .paragraph {
  //   background-color: rgb(73, 107, 23);
  // }
}
