.container {
  width: 100%;
  padding-inline: 12rem;
  border-bottom: 1px solid $color-grey-dark-3;
  // background-color: $color-primary;

  @include respond(tab-land) {
    padding-inline: 7rem;
  }

  @include respond(tab-port) {
    padding-inline: 4rem;
  }

  @include respond(phone-md) {
    padding-inline: 2rem;
  }
}

// - SECTION OVERVIEW
.section-overview {
  padding-block: 4rem;

  @include respond(tab-port-md) {
    padding-block: 6rem;
  }
}

.overview {
  // background-color: rgb(73, 73, 122);

  &__img {
    position: relative;
    flex: 1;

    // background-color: teal;

    img {
      width: 100%;
    }

    &::after {
      position: absolute;
      bottom: -8px;
      left: 100%;
      transform: translateX(-50%);
      content: "";
      display: block;
      width: 5rem;
      height: 5rem;
      background-image: url(/img/arrow.png);
      background-size: contain;
      background-repeat: no-repeat;
      z-index: 9;

      // background-color: red;

      @include respond(tab-port-md) {
        top: 102%;
        left: 50%;
        width: 4rem;
        height: 4rem;

        // background-color: gold;
      }
    }
  }

  &__info {
    flex: 1;
    margin-left: 8rem;

    // background-color: orange;

    @include respond(tab-port-md) {
      margin-left: 0;
    }

    .heading--secondary {
      @include respond(tab-port-md) {
        margin-top: 8rem;
      }
    }
  }
}

// - SECTION RULES
.section-rules {
  @include respond(tab-port-md) {
    padding-bottom: 6rem;
  }
}

.rules {
  &__info {
    flex: 1;
    margin-right: 8rem;

    @include respond(tab-port-md) {
      margin-right: 0;
      order: 1;
    }
  }

  &__img {
    position: relative;
    flex: 1;
    z-index: 1;

    // background-color: rgb(27, 77, 94);

    img {
      width: 100%;
    }

    &::after {
      position: absolute;
      top: 17%;
      left: 60%;
      content: "";
      display: block;
      width: 12rem;
      height: 12rem;
      background-image: url(/img/ellipse.png);
      background-size: contain;
      background-repeat: no-repeat;
      z-index: -1;

      // background-color: red;

      @media only screen and (max-width: 87.5em) {
        width: 11rem;
        height: 11rem;
      }

      @include respond(tab-land) {
        width: 10rem;
        height: 10rem;
      }

      @include respond(tab-port) {
        width: 9rem;
        height: 9rem;
      }

      @include respond(tab-port-md) {
        display: none;
      }
    }
  }
}

// - SECTION JUDGING
.section-judging {
  padding-block: 8rem;
  background-color: $color-primary;

  // background-color: rgb(146, 105, 65);
}

.judging {
  &__info {
    flex: 1;
    margin-left: 8rem;

    // background-color: orange;

    @include respond(tab-port-md) {
      margin-left: 0;
    }

    .paragraph {
      span {
        font-weight: 700;
        color: $color-tertiary;
      }
    }

    .btn {
      align-self: flex-start;

      @include respond(tab-port-md) {
        align-self: center;
      }
    }
  }

  &__attributes {
    margin-bottom: 4rem;
  }

  &__img {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    // background-color: rgb(27, 77, 94);

    img {
      width: 100%;
      display: block;
    }

    &::after {
      position: absolute;
      top: 10%;
      left: 13%;
      content: "";
      display: block;
      width: 12rem;
      height: 12rem;
      background-image: url(/img/ellipse.png);
      background-size: contain;
      background-repeat: no-repeat;
      z-index: -1;

      // background-color: red;

      @media only screen and (max-width: 92.5em) {
        top: 15%;
      }
      @media only screen and (max-width: 87.5em) {
        top: 18%;
      }
      @media only screen and (max-width: 75em) {
        top: 15%;
      }
      @media only screen and (max-width: 70em) {
        top: 22%;
      }
      @media only screen and (max-width: 55em) {
        top: 27%;
      }

      @include respond(tab-port-md) {
        display: none;
      }
    }
  }
}

// - SECTION FAQ
.section-faq {
  padding-block: 8rem;
  background-color: $color-primary;

  // background-color: rgb(146, 105, 65);
}

.faq {
  &__info {
    flex: 1;
    align-self: flex-start;
    margin-right: 4rem;

    // background-color: rgb(116, 89, 107);

    @include respond(tab-port-md) {
      align-self: center;
      margin-right: 0;
      margin-bottom: 10rem;
    }
  }

  &__img {
    position: relative;
    flex: 1;
    align-self: flex-start;
    z-index: 1;

    // background-color: rgb(27, 77, 94);

    background-image: url("/img/question-svg.svg"), url("/img/question-svg.svg");
    background-repeat: no-repeat;
    background-size: 20% 35px;
    background-position: 7% 7px, 60% 0px;

    &::after {
      position: absolute;
      top: 0;
      transform: translateY(-65%);
      left: 33%;
      content: "";
      display: block;
      width: 6rem;
      height: 6rem;
      background-image: url(/img/question-mark.png);
      background-size: contain;
      background-repeat: no-repeat;
      z-index: -1;

      // background-color: red;
    }

    img {
      width: 100%;
      margin-top: 2.5rem;
    }
  }
}

// - SECTION TIMELINE
.section-timeline {
  padding-block: 8rem 14rem;
  background-color: $color-primary;

  // background-color: rgb(146, 105, 65);

  @include respond(tab-port-md) {
    padding-block: 8rem;
  }

  .heading--secondary {
    text-align: center;
    // background-color: rebeccapurple;
  }

  .timeline-intro {
    width: 35%;
    margin: 0 auto;
    margin-bottom: 6rem;
    text-align: center;

    // background-color: rgb(114, 57, 114);

    @include respond(tab-port-md) {
      width: 70%;
    }

    @include respond(phone-md) {
      width: 100%;
    }
  }
}

// - SECTION PRIZES
.section-prizes {
  padding-block: 8rem;
  background-color: $color-primary;

  // background-color: rgb(146, 105, 65);
}

.prizes {
  &__header {
    margin-bottom: 18rem;
    background-color: $color-primary;

    // background-color: rgb(207, 181, 181);

    @include respond(tab-port-md) {
      margin-bottom: 4rem;
    }

    .heading--secondary {
      span {
        color: $color-secondary;
      }
    }

    &--empty {
      width: 40%;
      // background-color: lightblue;

      @include respond(tab-port-md) {
        display: none;
      }
    }

    &--fill {
      width: 60%;
      display: flex;
      justify-content: center;
      align-items: center;

      // background-color: orange;

      @include respond(tab-port-md) {
        width: 100%;
        text-align: center;
      }

      .header-content {
        width: 55%;
        // background-color: yellow;

        @include respond(tab-port-md) {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        @include respond(phone) {
          width: 100%;
        }
      }

      // .paragraph {
      //   background-color: teal;
      // }
    }
  }

  &__graphics {
    background-color: $color-primary;
    // background-color: lavender;
  }
}

// - SECTION PARTNERS
.section-partners {
  padding-block: 8rem;
  background-color: $color-primary;

  // background-color: rgb(146, 105, 65);

  .heading--secondary {
    text-align: center;
    // background-color: rebeccapurple;
  }

  .partners-intro {
    width: 40%;
    margin: 0 auto;
    margin-bottom: 6rem;
    text-align: center;

    // background-color: rgb(114, 57, 114);

    @include respond(tab-land) {
      width: 50%;
    }

    @include respond(tab-port) {
      width: 60%;
    }

    @include respond(tab-port-md) {
      width: 80%;
    }

    @include respond(phone) {
      width: 100%;
    }
  }
}

// - SECTION PRIVACY
.section-privacy {
  padding-block: 12rem 8rem;
  background-color: $color-primary;

  // background-color: rgb(146, 105, 65);

  @include respond(tab-port-md) {
    padding-block: 8rem;
  }
}

.privacy {
  // background-color: lightblue;

  &__info {
    flex: 1;
    // background-color: rgb(110, 110, 110);

    .heading--secondary {
      span {
        color: $color-secondary;
      }
    }

    @include respond(tab-port-md) {
      margin-bottom: 8rem;
      text-align: center;
    }
  }

  &__date {
    margin-top: -1.8rem;
    color: #bbb;
  }

  &__intro {
    &.paragraph {
      margin-bottom: 4rem;
      padding-right: 2rem;

      // background-color: teal;

      @include respond(tab-port-md) {
        width: 80%;
        margin-inline: auto;
      }

      @include respond(phone) {
        width: 100%;
      }
    }
  }

  &__highlight {
    padding: 4rem 2rem 4rem 6rem;
    border-radius: 7px;
    box-shadow: inset 0 0 2px 1px $color-secondary;
    background-color: $color-primary;

    @include respond(tab-port-md) {
      padding: 4rem 2rem 4rem 4rem;
      text-align: left;
    }

    @include respond(phone) {
      padding: 4rem;
    }

    @include respond(phone-md) {
      padding: 6rem 2rem;
    }

    .highlight {
      &__intro {
        @include respond(tab-port) {
          margin-bottom: 3rem;
          // background-color: teal;
        }

        @include respond(phone) {
          text-align: center;
        }
      }

      &__licensing {
        font-weight: 700;
        color: $color-secondary;
        margin-bottom: 0.5rem;
      }
    }

    .btn-wrapper {
      width: 100%;
      text-align: center;

      // background-color: lavenderblush;
    }
  }

  &__img {
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: $color-primary;
    background-image: url(../../img/shield.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center top;
    transform: translateY(-6rem);

    // background-color: teal;

    @include respond(tab-land) {
      background-size: 80%;
    }

    @include respond(tab-port-md) {
      flex: auto;
      height: 80rem;
      background-size: 70%;
      transform: translateY(0);
    }

    @include respond(phone) {
      flex: 1;
      background-size: 90%;
    }

    img {
      width: 70%;

      @media only screen and (max-width: 67.5em) {
        width: 90%;
      }

      @include respond(tab-port) {
        width: 100%;
      }

      @include respond(tab-port-md) {
        width: 70%;
      }

      @include respond(phone) {
        width: 100%;
      }
    }
  }
}

// - Reveal section on scroll
.section {
  transition: transform 1s, opacity 1s;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}
