.container {
  width: 100%;
  padding: 0 12rem;

  background-color: $color-primary;

  @include respond(tab-land) {
    padding: 0 7rem;
    // padding: 0 6.4rem;
  }

  @include respond(tab-port) {
    padding: 0 4rem;
  }
}

// - SECTION OVERVIEW
.section-overview {
  padding-block: 8rem;
}

.overview {
  display: flex;
  // background-color: rgb(73, 73, 122);

  @include respond(tab-port-md) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__img {
    position: relative;
    flex: 1;

    // background-color: teal;

    img {
      width: 100%;
    }

    &::after {
      position: absolute;
      bottom: -8px;
      left: 100%;
      transform: translateX(-50%);
      content: "";
      display: block;
      width: 5rem;
      height: 5rem;
      background-image: url(/img/arrow.png);
      background-size: contain;
      background-repeat: no-repeat;
      z-index: 9;

      // background-color: red;

      @include respond(tab-port-md) {
        top: 102%;
        left: 50%;
        width: 4rem;
        height: 4rem;

        // background-color: gold;
      }
    }
  }

  &__info {
    flex: 1;
    margin-left: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    // background-color: orange;

    @include respond(tab-port-md) {
      margin-left: 0;
      text-align: center;
      width: 80%;
    }

    @include respond(phone) {
      width: 100%;
    }

    .heading--secondary {
      @include respond(tab-port-md) {
        margin-top: 8rem;
      }

      span {
        color: $color-tertiary;
      }
    }

    // .paragraph {
    //   background-color: rgb(73, 107, 23);
    // }
  }
}
